@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--nav-btn-hover: ;
}

body {
	height: 100vh;
}

a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 5px;
	transition: 150ms ease-in-out;
}

a:hover {
	background-color: rgba(105, 105, 105, 0.2);
}

main,
section {
	padding-left: 30%;
	padding-right: 30%;
}
