@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--nav-btn-hover: rgba(105, 105, 105, 0.2);
}

body {
	height: 100vh;
	box-sizing: border-box;
	padding-left: 30vw;
	padding-right: 30vw;
}

#layoutLink {
	text-align: center;
	padding: 5px 10px;
	border-radius: 5px;
	transition: 150ms ease-in-out;
}

#layoutLink:hover {
	background-color: var(--nav-btn-hover);
}

@media (max-width: 780px) {
	body {
		padding-left: 10vw;
		padding-right: 10vw;
	}
}

